@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: border-box;
    font : 'Poppins', sans-serif;
}

body{
    background-color: black;
}
.main{
      height : 644px;
      width : 100%;
      background-image: url("bg.jpg");
      background-position: center center;
      background-size: max(1200px, 100vw);
      /* background-size: cover; */
      position: relative;
}
.main .box{
       height : 644px;
       width : 100%;
       opacity: .69;
       background-color: black;
       position: absolute;
       top : 0;
}

.navbar{
     max-width: 85vw;
     margin : auto;
     height : 80px;
     /* background-color: white; */
     display : flex;
     justify-content: space-between;
     align-items: center;
}

.logo img{
     width : 150px;
     height : 40px;
}

.navbar button{
        width : 80px;
        height : 32px;
        background-color: rgba(229, 9, 20);
        border : none;
        border-radius: 4px;
        color : white;
        font-size: 1rem;
        font-weight: 400;
}